<div class="ui container">
	
<div class="ui divider hidden"></div>
<h2 class="ui icon header" style="text-align: left;">
  <i class="database icon" style="text-align: left;"></i>
  <div class="content"> EDA <div class="sub header">Análisis Exploratorio de Datos</div>
  </div>
</h2>


<div class="ui list">
  <div class="item">
    <i class="folder icon"></i>
    <div class="content">
      <div class="header">Automatizar el proceso</div>
      
    </div>
  </div>
  <div class="item">
    <i class="folder icon"></i>
    <div class="content">
      <div class="header">Detección</div>
      <!--<div class="description">Archivos CSS y JS compilados</div>-->
      <div class="list">
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header">Valores faltantes</div>
            <!--<div class="description">Archivos CSS y JS compilados</div>-->
          </div>
        </div>

         <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header">registros duplicados</div>
            <!--<div class="description">Archivos CSS y JS compilados</div>-->
          </div>
        </div>

         <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header">Outliers</div>
            <!--<div class="description">Archivos CSS y JS compilados</div>-->
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="item">
    <i class="file icon"></i>
    <div class="content">
      <div class="header">Reportes</div>
      <!--<div class="description">Archivos CSS y JS compilados</div>-->
    </div>
  </div>
</div>



</div>