</!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>


<div class="ui container">

<div class="image">
            <img src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/alcance.jpeg" width="110%">
</div>

<div class="image">
            <img src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/fuera_alcance.jpeg" width="110%">
</div>

<!--	
	<h2>Objetivos del Proyecto</h2>
	<p>El "Grupo 5" tiene como filosofía de trabajo:<br>
	 
	<div class="ui inverted segment">
  		<p>Brindar la herramienta tecnológica más adecuda a la problemática del cliente con la menor inversión posible.</p>
	</div>
	 
	<div class="ui message">
	  <div class="header">Objetivos Específicos </div>
	  <ul class="list">
	    <li>Diseñar ... la herramienta más adecuada para decidir dónde y cuándo invertir</li>
	    <li>Testear ... un mínimo de 3 modelos de predicción a fin de encontrar el mejor</li>
	    <li>Investigar. el desenvolvimiento del mercado inmobiliario norteamericano</li>
	  </ul>
	</div>


	<div class="ui message">
	  <div class="header">Objetivos del Equipo </div>
	  <ul class="list">
	    <li>Explorar </li>
	    <li>Analizar </li>
	    <li>Delegar  </li>
	    <li>Revisar  </li>
	    <li>Desarrollar </li>
	    <li>Comunicar </li>
	  </ul>
	</div>

	<HR>
		

	
	

<div class="ui five column grid">

  <div class="column">
    <div class="ui segment">
  
      <div class="ui card">
		  <div class="content">
		    <div class="header">INVESTIGAR</div>
		    <div class="meta">Alex</div>
		    <div class="description">
		      <p>Empezamos por la <span class="inv">exploración</span> de los datos. Abordamos el <span class="inv">análisis</span> del Sector Inmobiliario de USA. </p>
		      <p>Dedicamos tiempo a la <span class="inv">investigación</span> de tecnologías.</p>
		    </div>
		  </div>
		  <div class="extra content"><i class="check icon"></i> 121 Votos </div>
	 </div>
  
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
  
    
      <div class="ui card">
		  <div class="content">
		    <div class="header">PLANIFICAR</div>
		    <div class="meta">Luciano</div>
		    <div class="description">
		      <p>Trbajar en equipo, <span class="pla">coordinar</span>, es parte de nuestro éxito.</p>
		      <p><span class="pla">Asignar</span> roles y <span class="pla">calendarizar</span> esfuerzos en Diagrama de Gantt nos permite <span class="pla">organizarnos y planificar</span>.</p>
		    </div>
		  </div>
		  <div class="extra content"><i class="check icon"></i> 121 Votos </div>
	 </div>
  
    
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
  

	<div class="ui card">
	  <div class="content">
	    <div class="header">DESARROLLAR</div>
	    <div class="meta">Sebastián</div>
	    <div class="description">
	      <p><span class="des">Implementar</span> código para procesos como EDA y ETL. Tiempo y esfuerzo para <span class="des">desarrollar, testear y modelar</span> modelos de predicción.</p>
	      <p>Son fases importantes en el <span class="des">desarrollo</span> de las soluciones que producimos.</p>
	    </div>
	  </div>
	  <div class="extra content"><i class="check icon"></i> 121 Votos </div>
	</div>
  

    </div>
  </div>

  <div class="column">
    <div class="ui segment">
  

		<div class="ui card">
		  <div class="content">
		    <div class="header">REVISAR</div>
		    <div class="meta">Alejandro</div>
		    <div class="description">
		      <p>Invertimos tiempo en <span class="rev">revisiones</span> para no arrastrar defectos o resultados no deseados.</p>
		      <p>El <span class="rev">control de calidad</span> es una inversión para <span class="rev">maximizar esfuerzos</span> y ser eficientes.</p>
		    </div>
		  </div>
		  <div class="extra content"><i class="check icon"></i> 121 Votos </div>
		</div>
  
    </div>
  </div>


  <div class="column">
    <div class="ui segment">
  

		<div class="ui card">
		  <div class="content">
		    <div class="header">COMUNICAR</div>
		    <div class="meta">Duilio</div>
		    <div class="description">
		      <p>Hablamos también el idioma financiero y del inversionista inmobiliario para <span class="com">comprender</span> sus objetivos.</p>
		      <p>Nos <span class="com">comunicamos</span> adecuadamente al interior del equipo para <span class="com">entregar una solución única</span>.</p>
		    </div>
		  </div>
		  <div class="extra content"><i class="check icon"></i> 121 Votos </div>
		</div>
  
    </div>
  </div>



</div>
-->

</div>



</body>
</html>>