<div class="ui container">
<div class="image">
            <img src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/Diapositiva1.PNG">
</div>

<div class="image">
            <img src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/Diapositiva2.PNG">
</div>

<div class="image">
            <img src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/Diapositiva3.PNG">
</div>

<!--
<div class="ui small message">
  <h2>Los límites del Proyecto</h2>

  <div class="ui message">
    <p>En el Grupo-5 somos conscientes del grado de afectación de los factores macro económicos (ciclos, periodos de ajuste, efectos burbuja, ...) en el sector inmobiliario.<br> Por ello, y por el grado de seriedad y compromiso solo desarrollaríamos una herramienta predictora que considere fluctuaciones económicas si se extiende el plazo de entrega al doble.</p>
  </div>

  <div class="ui message">
    <div class="header">Alcances el Proyecto </div>
    <ul class="list">
      <p>La herramienta a diseñar estará basada en información de una de las mayores economías del mundo y los inversores comparten la importancia de este mercado, por lo que el grado de acceso y la oportunidad de uso son claves en el éxito del Proyecto. </p>
      <p>En situaciones ideales, si <b>consideramos cero restricciones presupuestarias y máximo acceso a la infraestructura tecnológica disponible</b>, entonces: </p>
      
      <span class="subti">Factores fuera del alcance del Proyecto</span><i class="x icon" style="color:red;"></i>
      <p>Determinados por Infraestructura y/o Tecnología BackEnd</p>
      <li>Soluciones en la nube</li>
      <li>Desarrollo Mobile ni de escritorio</li>
      <li>Desarrollo Web</li>
      <br>
      <span>Factor: Investigación y Desarrollo</span>
      <li>Límites de tiempo para la mejor adaptación y/o configuración de Servicios Cloud y Big Data</li>
      <li>Límites de tiempo para etapas de pueba</li>
      <li>Límites de tiempo para etapa de desarrollo</li>

      <span class="subti"><u>Factores al alcance del Proyecto</u></span><i class="check icon" style="color:green;"></i>
      <p>La conformación del equipo permite una rápida y eficiente entrega de:</p>
      <li>Dashboard operativo para la toma de decisiones</li>
      <li>Acceso permanente a la Plataforma del Dashboard 24 horas</li>
      <li>Límites de tiempo para etapas de pueba</li>
            
    </ul>
  </div>


  <div class="ui message">
    <div class="header subti">Para uan segunda fase  </div>
    <p>Exhaustiva investigación de variables económicas que influyen en el mercado inmobiliario de los Estados Unidos.</p>
    <p>Adicionalmente, se sugiere implementar calculadoras financieras comparativas: Alquiler vs Compra-Venta</p>
    <ul class="list">
      <li>Implementación en la nube</li>
      <li>Implementación Mobile (App)</li>
    </ul>
  </div>


</div>

-->


</div>