<div class="ui container">

<h2>Contexto Económico del Mercado Inmobiliario Norteamericano</h2>

<p style="text-align: justify;">El equipo ha sido contratado por una empresa del Sector Inmobiliario de los Estaos Unidos.

Se nos requiere desarrollar una herramienta que permita decidir en qué lugar(es) de Estados Unidos resulta más rentable invertir en propiedades
en determinado momento del año.

Calificamos <u><b>el problema</b></u> como uno de <b><i>Toma de Decisiones para Inversión Financiera en el Sector Inmobiliario de los Estados Unidos</i></b>.

En concreto, y al ser una empresa privada, la finalidad del contratante es maximizar su inversión en bienes inmuebles.

Si bien la economía norteamericana en términos macroeconómicos es estable, no esta exenta de fluctuaciones y de ciclos económicos.
</p>	

<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img class="ui image" src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/economia.jpg">
    </div>
    <div class="content">
      <div class="header">Economía en su conjunto</div>
      <div class="meta">
        <span class="price">$1200</span>
        <span class="stay">1 Month</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img class="ui image" src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/recesion.jpg">
    </div>
    <div class="content">
      <div class="header">El fantasma de la recesión</div>
      <div class="meta">
        <span class="price">$1000</span>
        <span class="stay">2 Semanas</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img class="ui image" src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/inflacion.jpg">
    </div>
    <div class="content">
      <div class="header">La trampa de la inflación</div>
      <div class="meta">
        <span class="price">$1600</span>
        <span class="stay">6 Semanas</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="ui small image">
      <img class="ui image" src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/tasa_interes.jpg">
    </div>
    <div class="content">
      <div class="header">El precio del dinero</div>
      <div class="meta">
        <span class="price">$1200</span>
        <span class="stay">1 Month</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img class="ui image" src="https://raw.githubusercontent.com/bparedes21/Proyecto-Grupal/main/images/tornado.jpg">
    </div>
    <div class="content">
      <div class="header">Naturaleza indomable</div>
      <div class="meta">
        <span class="price">$1000</span>
        <span class="stay">2 Semanas</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>



</div>

<p style="text-align: justify;">Al mismo tiempo, muchos de los estados en USA están periodicamente afectados por factores climáticos de gran impacto y efecto no solo 
en el mercado inmobiliario de los particulares sino también al sector público y el sector privado.

Consideramos que independientemente del contexto económico actual, la solución a plantear debe considerar ambos escenarios:
<ul>
<li style="color:cornflowerblue; font-size: 1.1em;">Modelo de Predicción/Estimación en un entorno de Economía Estable</li>
<li style="color:cornflowerblue; font-size: 1.1em;">Modelo de Predicción/Estimación en un entorno de Economía Recesiva</li>
</ul>
<span>En ambos escenarios debe considerarse el factor climático.</span>
</p>



</div>